.panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  min-height: 0;
  max-height: 640px;

  &__header {
    font-family: Inter;
    height: 34px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;

    &__label {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.15px;
      color: #222427;
    }
    &__count {
      color: White;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      background-color: #438cf2;
      min-width: 20px;
      height: 20px;
      border-radius: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 4px;
    }
    &__triangle {
      user-select: none;
      transition: transform 0.05s;

      &_open {
        transform: rotate(180deg);
      }
    }
  }

  &__content {
    overflow: hidden;
  }
}
